<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <link rel="shortcut icon" href="../assets/favicon.png">
  <title>Acquerello</title>
</head>

<body>
  <div id="app" v-cloak>
    <nav id="navbar" class="navbar navbar-light fondoBlack fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex navlinks">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>
          <a href="#" @click="logout" class="nav-link">LOG OUT</a>   
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <a href="myaccount.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
        </div>

        <!-- MENU RESPONSIVE -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <a class="navbar-brand" href="#">
              <img src="../assets/acquerello.png" alt="" width="150">
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
              <h5>x</h5>
            </button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a href="#" @click="logout" class="nav-link">Log out</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPagesPanel d-flex align-items-center">
      <h1 id="title-pages">My Account</h1>
      <h3 id="title-pages3">ADMIN PANEL</h3>
    </header>
    <div class="mt-1 d-flex-justify-content-center mb-5">
      <ul class="list ">

        <li class="item-list">
          <a id="adminPanel" class="item-link l5" href="myaccount.html">
            <div><i class="bi bi-person-fill fs-2"></i></div>
            <p>My account</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="clients.html">
            <div><i class="bi bi-people-fill fs-3"></i></div>
            <p>Clients</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="bookings.html">
            <div><i class="bi bi-card-checklist fs-3"></i></div>
            <p>Bookings</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="products.html">
            <div><i class="bi bi-ui-checks-grid fs-3"></i></div>
            <p>Products</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="category.html">
            <div><i class="bi bi-ui-checks fs-3"></i></div>
            <p>Categories</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="p-4">
      <h3>
        Orders
      </h3>
    </div>
    <main>
      <input type="text" name="" id="" v-model="emailfilter" placeholder="email">
      <select name="" id="" v-model="typefilter">
        <option value="">
          type
        </option>
        <option value="DELIVERY">
          delivery
        </option>
        <option value="TAKEAWAY">
          take away
        </option>
        <option value="LOCAL">
          local
        </option>
      </select>
      <select name="" id="" v-model="statefilter">
        <option value="" >
          status
        </option>
        <option value="PENDING">
          pending
        </option>
        <option value="IN_PROCESS">
          in process
        </option>
        <option value="DELIVERED">
          delivered
        </option>
        <option value="CANCELED">
          canceled
        </option>
      </select>
      <input type="text" name="" v-model="yearsfilter" id="" placeholder="years">
      <input type="text" name="" v-model="monthfilter" id="" placeholder="month">
      <input type="text" name="" v-model=" dayfilter" id="" placeholder="day">

      <select name="people" id="peop" v-model="hoursfilter">
        <option value="">Hour</option>
        <option value="9">09:00 am</option>
        <option value="10">10:00 am</option>
        <option value="11">11:00 am </option>
        <option value="12">12:00 pm</option>
        <option value="13">13:00 pm</option>
        <option value="18">18:00 pm</option>
        <option value="19">19:00 pm</option>
        <option value="20">20:00 pm</option>
        <option value="21">21:00 pm</option>
        <option value="22">22:00 pm</option>
      </select>
      <div class="d-flex justify-content-center">
        <div class="col-12 col-md-8">
          <div class="table-responsive">
            <table class="table tableAdmin">
              <thead>
              <tr>
                <th scope="col">Nº</th>
                <th scope="col" class="text-center">Date</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Actions</th>
                <th scope="col" class="text-center">Total</th>
                <th scope="col" class="text-center">View</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="order in filter_order">
                <th scope="row" class="text-center">{{order.id}}</th>
                <td class="text-center">{{order.creationDate.slice(5,10)}} - {{order.creationDate.slice(11,16)}}</td>
                <td class="text-center">{{order.state}}</td>
                <td class="d-flex justify-content-around">
                  <form @submit.prevent="editOrderState">
                    <button class="btn-i" :id="order.id" value="CANCELED" type="submit"><i
                            class="bi bi-x-square text-danger"></i></button>
                  </form>
                  <form @submit.prevent="editOrderState">
                    <button class="btn-i" :id="order.id" value="IN_PROCESS" type="submit"><i
                            class="bi bi-check-square text-success"></i></button>
                  </form>
                  <form @submit.prevent="editOrderState">
                    <button class="btn-i" :id="order.id" value="DELIVERED" type="submit"><i
                            class="bi bi-check-all bg-success px-2 text-light"></i></button>
                  </form>
                </td>
                <td class="text-center">$ {{order.total}}</td>
                <td class="d-flex justify-content-center">
                  <button :id="order.id" type="button" @click="showOrderDetails" class="btnTransp"><i
                          class="bi bi-eye-fill cRed"></i></button>
                </td>
              </tr>
              <tr v-if="filter_order.length === 0" colspan="6">
                <td colspan="9" class="text-danger">No results found</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="errors" v-if="errororder">
            <div>
              <small class="cRed"><i class="bi bi-info-circle-fill px-3 cRed"></i>{{errorcancel}}</small>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/paneladmin.js"></script>
</body>

</html>