<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">    
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <link rel="shortcut icon" href="../assets/favicon.png">
  <title>Acquerello</title>
</head>

<body>
  <div id="app" v-cloak>

    <nav id="navbar" class="navbar navbar-light fondoBlack fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex navlinks">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>
          <a href="#" @click="logout" class="nav-link">LOG OUT</a>
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <a href="myaccount.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
          <button class="navIcon" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasCart"><i
              class="bi bi-cart-fill"></i>
              <div class="badge"><small class="cWhite" v-if="totalQantity > 0">{{totalQantity}}</small></div></button>
        </div>

        <!-- MENU RESPONSIVE -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <a class="navbar-brand" href="#">
              <img src="../assets/acquerello.png" alt="" width="150">
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
              <h5>x</h5>
            </button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a href="#" @click="logout" class="nav-link">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPagesPanel d-flex align-items-center">
      <h1>Categories</h1>
      <h3 class="cWhite">ADMIN PANEL</h3>
    </header>

    <main>
      <div class="mt-1">
        <a href="admin.html" class="btn-green"><i class="bi bi-arrow-left text-light"></i> Admin Panel</a>
      </div>
      <h3 class="cGreen py-5">CATEGORIES</h3>
      <div class="d-flex f-justify-c-space-a d-fl">
        
        <div class="d-flex flex-d-col category-w">
          <h3 class="fs-5">Add Category</h3>
          <form @submit.prevent="createCategory()">
            <div class="d-flex flex-d-col pb-3">
              <label>Name:</label>
              <input class="iptGreen" placeholder="....." type="text" v-model="categoryName">
            </div>            
            <div class="d-flex flex-d-col pb-3">
              <label for="description">Description:</label>
              <input class="iptGreen" placeholder="....."  type="text" v-model="categoryDescription">
            </div>

            <div class="d-flex flex-column justify-content-center align-items-start btn-profile">
              <div class="containerImg">
                <label>Image:</label>
                <div class="cardImg">
                  <img :src="categoryImage" id="img-preview" ref="imagePreviewDos">
                </div>
                <div class="cardImg-footer">
                  <input ref="imageUploaderDos" type="file" @change="uploadImageCategory($event)" id="img-uploader2">
                </div>
              </div>
            </div>            
            <button type="submit" class="category-button btn-green">Add</button>
          </form>
        </div>
        <div class="d-flex flex-d-col category-w">
          <h3 class="fs-5">Edit Category</h3>
          <form @submit.prevent="editCategory()">
            <div class="d-flex flex-d-col pb-3">
              <label>Select Category: </label>
              <select class="iptGreen" v-model="idEdited">
                <option v-for="category in categories" :value="category.id">
                  {{category.id}} - {{category.name}}
                </option>
              </select>
            </div>
            <div class="d-flex flex-d-col pb-3">
              <label>Name</label>
              <input class="iptGreen" placeholder="....." type="text" v-model="nameEdited">
            </div>
            <div class="d-flex flex-d-col pb-3">
              <label>Description</label>
              <input class="iptGreen" placeholder="....." type="text" v-model="descriptionEdited">
            </div>
            
            <div class="d-flex flex-column justify-content-center align-items-start btn-profile">
              <div class="containerImg">
                <label>Image:</label>
                <div class="cardImg">
                  <img :src="categoryImageEdited" id="img-preview" ref="imagePreviewDos">
                </div>
                <div class="cardImg-footer">
                  <input ref="imageUploaderDos" type="file" @change="uploadImageCategory($event)" id="img-uploader2">
                </div>
              </div>
            </div> 

            <button class="category-button btn-green">Edit</button>
          </form>
        </div>
        <div class="d-flex flex-d-col category-w">
          <h3 class="fs-5">Delete Category</h3>
          <form @submit.prevent="deleteCategory()">
            <div class="d-flex flex-d-col">
              <label>Select category: </label>
              <select class="iptGreen" v-model="idCategory">
                <option v-for="category in categories" :value="category.id">
                  {{category.id}} - {{category.name}}
                </option>
              </select>
            </div>
            <button type="submit" class="category-button btn-green">Delete</button>
          </form>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="col-12 col-md-8">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nº Id</th>
                  <th scope="col" class="text-center">Name</th>
                  <th scope="col" class="text-center">Description</th>
                  <th scope="col" class="text-center">Category Image</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="category in categories">
                  <td scope="row" class="text-center">{{category.id}}</td>
                  <td class="text-center">{{category.name}}</td>
                  <td class="text-center">{{category.description}}</td>
                  <td class="d-flex justify-content-around"><img :src="category.categoryImage" class="card-img-top"
                      alt="category.name" style="width: 200px; height: 100px;"></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    </main>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/category.js"></script>

</body>

</html>