<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <link rel="stylesheet" href="../styles/spinner.css">
  <link rel="shortcut icon" href="../assets/favicon.png">
  <title>Acquerello</title>
</head>

<body>
  <div id="app" v-cloak>

    <nav id="navbar" class="navbar navbar-light fondoBlack fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex navlinks">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>         
        </div>

        <div class="d-flex">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex align-items-center px-2">    
            <div v-if="user.type == 'ADMIN' || user.type == 'USER'" class="dropdown fondoBlack">              
              <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill navIcon cWhite"></i>
                <span class="emailNav cWhite">{{user.email}}</span> 
              </a>
              <ul class="dropdown-menu fondoBlack" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="myaccount.html">My Account</a></li>
                <li><a class="dropdown-item" href="my-orders.html">My Orders</a></li>
                <li><a class="dropdown-item" href="user-booking.html">My Bookings</a></li>
                <li v-if="user.type == 'ADMIN'"><a class="dropdown-item" href="admin.html">Admin Panel</a></li>
                <li><a href="#" @click="logout" class="nav-link">Log out</a></li>
              </ul>
            </div> 
            <div v-else>
              <a href="login.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
            </div>                        
          </div>
        </div>

        <!-- MENU RESPONSIVE -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <a class="navbar-brand" href="#">
              <img src="../assets/acquerello.png" alt="" width="150">
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
              <h5>x</h5>
            </button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a href="#" @click="logout" class="nav-link">Log out</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPages checkoutPage d-flex flex-column align-items-center">
      <h3>FINE FOOD & DINING SINCE 1990</h3>
    </header>

    <main class="d-flex flex-column justify-content-around align-items-center py-5">
      <h3 class="fs-1">CHECKOUT</h3>
      <div class="row col-10 d-flex justify-content-around mt-2" id="check">

        <div class="col-12 col-lg-6">
          <h4 class="text-start cGreen"><i class="bi bi-cart-check-fill cGreen"> </i> Your order</h4>
          <div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="cRed">Image</th>
                  <th scope="col" class="cRed">Items</th>
                  <th scope="col" class="cRed">Qty.</th>
                  <th scope="col" class="cRed">Action</th>
                  <th scope="col" class="cRed">Price</th>
                </tr>
              </thead>
              <tbody v-if="cart.length > 0">
                <tr v-for="product in cart">
                  <td class="imgFill"><img :src="product.productImage" alt=""></td>
                  <td>{{product.name}}</td>
                  <td>{{product.quantity}}</td>
                  <td>
                    <button class="btn btn-info btn-sm" type="button" :id="product.id" @click="addOne"> + </button>
                    <button class="btn btn-danger btn-sm" type="button" :id="product.id" @click="deleteOne"> - </button>
                  </td>
                  <td>${{product.price}}</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <p class="text-end"><b>Total: </b></p>
                  </td>
                  <td>
                    <p><b>${{totalProduct}}</b></p>
                  </td>
                </tr>
              </tbody>
              <tbody v-else>
                <tr id="footer-cart">
                  <td scope="row" colspan="5">Cart empty</td>
                </tr>
                <tr>
                  <!-- v-if="carrito.length === 0" -->
                  <td scope="row" colspan="5"><a href="order.html">ORDER NOW </a></td>
                </tr>
              </tbody>
              <!-- <tfoot>
                <td colspan="3" class="cGreen"><b>Total price:</b> </td>
                <td class="cGreen"><b>${{order.total}}</b></td>                    
              </tfoot> -->

            </table>
          </div>
        </div>
        <div class="col-12 col-lg-6 formCardLoan">
          <div class="form-header">
          </div>
          <!-- Progress bar-->
          <div class="d-flex justify-content-center flex-d-col flex-a-items-center">
            <div class="progressBar col-lg-5">
              <div ref="progress" class="progress" id="progress" :class="progressActive">
              </div>
              <div ref="progressStep1" class="progress-step progress-step-active" data-title="Tipo"><i
                  class="bi bi-truck"></i></div>
              <div ref="progressStep2" class="progress-step" data-title="Color"><i class="bi bi-credit-card-2-back"></i>
              </div>
              <div ref="progressStep3" class="progress-step" data-title="Listo!"><i class="bi bi-card-checklist"></i>
              </div>
            </div>
            <p id="response"></p>
          </div>
          <!-- Form Steps -->
          <form @submit.prevent="" v-cloak>

            <div class="errors" id="error" v-if="errorCardRest">
              <div class="error-div">
                <small class="cRed"><i class="bi bi-info-circle-fill px-3 cRed"></i>{{error_cardRest}}</small>
              </div>
            </div>
            <!-- Step 1 -->
            <div ref="form1" class="form-step form1 form-step-active">
              <div class="title">
                <h3 class="text-center">Shipping information</h3>
              </div>
              <div class="title mt-3 d-flex flex-column" v-if="logged">
                <h4>Personal Account</h4>
                <div class="d-flex flex-a-items-center">
                  <label> <b>Firstname:</b> {{user.firstName}}</label>
                </div>
                <div class="d-flex flex-a-items-center">
                  <label> <b>Lastname:</b> {{user.lastName}}</label>
                </div>
                <div class="d-flex flex-a-items-center">
                  <label><b>Phone:</b> {{user.number}}</label>
                </div>
              </div>
              <div class="" v-if="guest">
                <div class=" d-flex flex-column">
                  <label for="firstName">Firstname</label>
                  <input class="iptGreen w-100" type="text" id="firstName" v-model="firstName">
                </div>
                <div class="d-flex flex-column">
                  <label for="lastName">Lastname</label>
                  <input class="iptGreen w-100" type="text" id="lastName" v-model="lastName">
                </div>
                <div class="d-flex flex-column">
                  <label for="phone">Phone</label>
                  <input class="iptGreen w-100" type="text" id="phone" v-model="phone">
                </div>
              </div>
              <div class="title mt-3 d-flex flex-column">
                <h4>Choose method</h4>
                <div class="d-flex flex-a-items-center radio">
                  <input type="radio" @click="selectRadio" value="delivery" name="method" id="deliver">
                  <label for="deliver">Delivery </label>
                </div>
                <div class="d-flex flex-a-items-center radio">
                  <input type="radio" @click="selectRadio" value="in" name="method" id="takeaway">
                  <label for="takeaway">Eat in restaurant </label>
                </div>
                <div class="d-flex flex-a-items-center radio">
                  <input type="radio" @click="selectRadio" value="withdraw" name="method" id="in">
                  <label for="in">Withdraw order in restaurant </label>
                </div>
                <div class="title mt-3" v-if="deliver">
                  <h4 v-if="guest">Already are you registered?</h4>
                  <a href="./login.html" v-if="guest">Log in</a>                  

                  <h4>Where do you want your order?</h4>
                  <select class="w-100 iptGreen" name="cuentas" @change="show_address_a" id="" placeholder="">
                    <option value="">Select adress</option>
                    <option v-if="logged" v-for="add in address" :value="add.id">{{add.street}} {{add.number}}</option>
                    <option value="newAdress">Add new adress</option>
                  </select>
                  <div v-if="show">
                    <div>
                      <form class="d-flex flex-column">
                        <div class=" d-flex flex-column">
                          <div class="d-flex align-items-center justify-content-around py-3">
                            <div>
                            <div class="d-flex w-100">
                              <label for="street">*Street: </label>
                              <input class="iptGreen" type="text" id="street" v-model="street" placeholder="....." required>
                            </div>
                          </div>
                          <div class="d-flex">
                            <label for="number">*Nº</label>
                            <input class="iptGreen" type="text" id="number" v-model="number" placeholder="....." required>
                          </div>
                          
                          </div>
                          <div class=" d-flex flex-column">
                            <div class="d-flex align-items-center justify-content-around py-2">
                              <div class="d-flex align-items-center justify-content-around">
                                <div class="d-flex  w-100">
                                  <label for="state">*State: </label>
                                  <input class="iptGreen" type="text" id="state" v-model="state" placeholder="....." required>
                                </div>
                              </div>
                              
                              <div class="d-flex">
                                <label for="zip">Zip Code: </label>
                                <input class="iptGreen" type="text" id="zip" v-model="zip" placeholder="....." required>
                              </div>
                            </div>
                            <div>
                              <label for="reference">Reference: </label>
                              <textarea name="" id="reference" cols="20" rows="1" class="col-12"
                                v-model="reference"></textarea>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-2">
                <a ref="next1"
                  @click="updateForms(this.$refs.next1, this.$refs.form1, this.$refs.form2, this.$refs.progressStep2)"
                  class="btn btn-next w-100">Next<i class="bi bi-arrow-right "></i></a>
              </div>
            </div>

            <!-- Step 2 -->
            <div ref="form2" class="form-step form2">
              <div v-if="table">
                <label for="table">Number Table: </label>
                <select class="iptGreen" name="table" id="table" v-model="tableNumber">
                  <option value="" selected disabled>Select Table</option>
                </select>
              </div>
              <div class="title  mt-3">
                <h3 class="text-center">Billing data</h3>
              </div>
              <div class="d-flex flex-a-items-center radio">
                <input type="radio" name="card" id="acquerello" @input="selectPayment">
                <label for="acquerello">Acquerello Card </label>
              </div>
              <div class="d-flex flex-a-items-center radio">
                <input type="radio" name="card" id="bank" @input="selectPayment">
                <label for="bank">Bank Card </label>
              </div>
              <div v-if="bankCard" class="mt-4">
                <div class="">
                  <div class=" d-flex flex-column">
                    <label for="ccn">Card Number: </label>
                    <input class="iptGreen w-100" id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,16}" autocomplete="cc-number"
                      maxlength="16" placeholder="xxxxxxxxxxxxxxxx" v-model="numberCard">
                  </div>
                </div>
                <div class="d-flex justify-content-around mt-3">
                  <div class=" d-flex flex-column">
                    <label for="ccn">CVV</label>
                    <input class="iptGreen" id="ccn" type="tel" inputmode="numeric" autocomplete="cc-number" maxlength="3"
                      placeholder="xxx" v-model="cvv">
                  </div>
                  <div class=" d-flex flex-column">
                    <label for="ccn">Vec.</label>
                    <input class="iptGreen" id="ccn" type="tel" inputmode="text" autocomplete="cc-number" maxlength="5"
                      placeholder="yy/mm" v-model="vec">
                  </div>
                </div>
              </div>
              <div class="btn-group mt-5">
                <a ref="back1"
                  @click="backForms(this.$refs.back1, this.$refs.form1, this.$refs.form2, this.$refs.progressStep2)"
                  class="btn btn-prev"><i class="bi bi-arrow-left "></i>Go back</a>
                <a ref="next2"
                  @click="updateForms(this.$refs.next2, this.$refs.form2, this.$refs.form3, this.$refs.progressStep3)"
                  class="btn btn-next">Next <i class="bi bi-arrow-right"></i></a>
              </div>
            </div>

            <!-- Step 3 -->
            <div ref="form3" class="form-step form3 ">
              <div class="title  mt-3">
                <h3 class="text-center">Checkout Details</h3>
              </div>
              <div class="mt-5">
                <h4 v-if="guest">Please <b class="cGreen">Sign up</b></h4>

                <div class="mt-5">
                  <label for="email" v-if="guest">Email: </label>
                  <input class="iptGreen" type="email" v-model="email" id="email" @input="register" placeholder="correo@user.com"
                  v-if="guest">
                </div>

                <div class="mt-3">
                  <label for="password" v-if="guest">Password: </label>
                  <input class="iptGreen" type="password" v-model="password" id="password" @input="register" placeholder="password"
                    v-if="guest">
                </div>
                
              </div>
              <div class=" mt-5 pt-5">
                <h4 class="text-center">Confirm your order</h4>
                <div class="btn-group ">
                  <a ref="back2"
                    @click="backForms(this.$refs.back2, this.$refs.form2, this.$refs.form3, this.$refs.progressStep3)"
                    class="btn btn-prev"><i class="bi bi-arrow-left"></i>
                    Go back</a>
                  <button ref="submit" type="submit" value="submit" class="btn btn-confirm" @click="confirmBuy"
                    id="confirm">Confirm <i class="bi bi-check-lg"></i></button>
                  <!-- <p> @click="nextProgressBar(this.$refs.submit, this.$refs.progressStep3)"</p> NO SE QUE FUNCION CUMPLE-->
                </div>
              </div>
              <!-- <div v-if="errorLoan" id="advertencia" class="d-flex justify-content-center align-items-center pt-4"
                v-cloak>
                <div class="d-flex align-items-center er">
                  <div class="barraError"></div>
                  <div class="circleError"><i class="bi bi-exclamation"></i></div>
                </div>
                <small class="text-danger">{{error_newLoan}}</small>
              </div> -->
            </div>
          </form>
        </div>
        
      </div>

    </main>

    <!-- SPINNER -->
    <div ref="spinnerContainer" class="spinnerContainer">
      <div class="spinnerDiv">
          <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
              <small class="enviar">Loading...</small>
          </div>
          
      </div>
      
  </div>
  </div>

  <footer class="d-flex flex-wrap justify-content-around align-items-center py-4" style="position: relative;">
    <div class="d-flex flex-column navlinks">
        <h2 class="fs-3">Quick Links</h2>
        <a class="nav-link" href="#">HOME</a>
        <a class="nav-link" href="../web/order.html">ORDER NOW</a>
        <a class="nav-link" href="../web/booking.html">BOOKING</a>
    </div>
    <div>
        <img src="../assets/acquerello.png" alt="" width="200">
        <p class="text-white">
            Phone :  
            <span>
                415-567-5432
            </span>
        </p>
        <p class="text-white">
            Street :
            <span>
                1722 Sacramento Street
            </span>
        </p>
        <p class="text-white">
            City :
            <span>
                San Francisco, CA 94109
            </span>
        </p>
    </div>
    <div class="d-flex flex-column">
        <h2 class="fs-3">Contact Us</h2>
        <div class="d-flex justify-content-around iconFooter">
            <i class="bi bi-instagram"></i>
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
        </div>
    </div>
</footer>



  <script>
    let menu = document.getElementById('navbar')
    window.addEventListener('scroll', function () {
      // navbar.style.background = 'black'
      menu.classList.toggle('fondoBlack', window.scrollY > 20)

    })
  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/order.js"></script>

</body>

</html>