<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <title>Acquerello</title>
</head>

<body>
  <div id="app">
    <nav id="navbar" class="navbar fondoBlack fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>
          <a class="nav-link" href="contact.html">CONTACT</a>
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>


          <a href="login.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
          <button class="navIcon" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasCart">
            <i class="bi bi-cart-fill"></i>
            <div class="badge"><small class="cWhite">1</small></div>
          </button>
        </div>


        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPagesPanel d-flex align-items-center">
      <h1>My Account</h1>
      <h3>ADMIN PANEL</h3>
    </header>
    <div class="mt-1 d-flex-justify-content-center mb-5">
      <ul class="list ">

        <li class="item-list">
          <a class="item-link l5" href="myaccount.html">
            <div><i class="bi bi-person-fill fs-2"></i></div>
            <p>My account</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="clients.html">
            <div><i class="bi bi-people-fill fs-3"></i></div>
            <p>Clients</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="bookings.html">
            <div><i class="bi bi-card-checklist fs-3"></i></div>
            <p>Bookings</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="products.html">
            <div><i class="bi bi-bag-fill fs-3"></i></div>
            <p>Products</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="category.html">
            <div><i class="bi bi-bag-fill fs-3"></i></div>
            <p>Categories</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="#">
            <div><i class="bi bi-question-diamond-fill fs-3"></i></div>
            <p>Help</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="p-4">
      <h3>
        CLIENTS
      </h3>
    </div>
    <main>
      <div class="d-flex justify-content-center">
        <div class="col-12 col-md-8">
          <table class="table tableAdmin">
            <thead>
              <tr>
                <th scope="col">Nº</th>
                <th scope="col" class="text-center">First Name</th>
                <th scope="col" class="text-center">Last Name</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Number</th>
                <th scope="col" class="text-center">Type</th>
                <th scope="col" class="text-center">View</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="u in users">
                <th scope="row" class="text-center">{{u.id}}</th>
                <td class="text-center">{{u.firstName}}</td>
                <td class="text-center">{{u.lastName}}</td>
                <td class="text-center">{{u.email}}</td>
                <td class="text-center">{{u.number}}</td>
                <td class="text-center">{{u.type}}</td>
                <td class="d-flex justify-content-center">
                  <button :id="u.id" :name="u.type" type="button" @click="showUser" class="btnTransp"><i
                      class="bi bi-eye-fill cRed"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 bg-info mt-5">
          <h1>aaaaaaa</h1>
        </div>
        <div class="col-12 col-md-6 bg-warning mt-5">
          <h1>aaaaaaa</h1>
        </div>
      </div>


    </main>



    <button type="submit" @click="showOrder">View order</button>
    <!-- DELETE PRODUCTS -->
    <form @submit.prevent="deleteProduct()">
      <label>Select products: </label>
      <select v-model="idproducts">
        <option v-for="producto in products" :value="producto.id">
          {{producto.id}} - {{producto.name}}
        </option>
      </select>
      <button type="submit">
        send
      </button>
      <div>
        <p>State: {{producto}}</p>
      </div>
    </form>
    <!-- ADD PRODUCTS -->
    <form @submit.prevent="product_add()">
      <label>products name</label>
      <input type="text" v-model="nameproducts">
      <label>produtc img</label>
      <!-- <input type="file"  
            style="display: none;" 
            @change="previewfile"
            ref="fileinput"> -->
      <button type="button" @click="$refs.fileinput.click()">
        pick img
      </button>
      <label for="description">description products</label>
      <input type="text" v-model="descriptionproducts">
      <label>price</label>
      <input type="number" v-model="priceproduct">
      <label>stock </label>
      <input type="number" v-model="stockproduct">
      <button>
        send
      </button>
    </form>
    <!-- PATCH PRODUCTS -->
    <form @submit.prevent=" path_product()">
      <select v-model="idpatch">
        <option v-for="producto in products" :value="producto.id">
          {{producto.id}} - {{producto.name}}
        </option>
      </select>
      <label>name</label>
      <input type="text" v-model="namepatch">
      <label>description</label>
      <input type="text" v-model="descriptionpatch">
      <label>img</label>
      <input type="file">
      <label>price</label>
      <input type="number" v-model=" pricepatch">
      <label> stock</label>
      <input type="number" v-model=" stockpatch">
      <button>
        send
      </button>
    </form>

    <h2>Order Section</h2>
    <form>
      <label for="order">Select Order: </label>
      <select id="order" v-model="idOrder">
        <option value="">Select</option>
        <option v-for="order in orders" :value="order.id">{{order.id}}</option>
      </select>
      <input type="button" value="Send" @click="getOrderState">
    </form>
    <p>{{orderState}}</p>
    <form>
      <label for="state">Select new state: </label>
      <select id="state" v-model="orderStateSelected">
        <option value="">Select</option>
        <option v-for="state in orderStates" :value="state">{{state}}</option>
      </select>
      <input type="button" value="Send" @click="changeOrderState">
    </form>
    <form>
      <label for="order">Delete Order: </label>
      <select id="order" v-model="idOrderDelete">
        <option value="">Select</option>
        <option v-for="order in orders" :value="order.id">{{order.id}}</option>
      </select>
      <input type="button" value="Send" @click="deleteOrder">
    </form>
    <p id="response"></p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/paneladmin.js"></script>
</body>

</html>