<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <link rel="shortcut icon" href="../assets/favicon.png">    
  <title>Acquerello</title>
</head>

<body>
  <div id="app">

    <nav id="navbar" class="navbar fondoBlack fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>
          <a class="nav-link" href="contact.html">CONTACT</a>
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <a href="login.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
          <button class="navIcon" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasCart"><i
              class="bi bi-cart-fill"></i><div class="badge"><small class="cWhite">1</small></div></i></button></button>
        </div>


        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPagesPanel d-flex align-items-center">
      <h1>My Account</h1>
      <h3>Italian Food</h3>
    </header>
    <div class="mt-1 d-flex-justify-content-center">
      <ul class="list ">

        <li class="item-list">
          <a class="item-link l5" href="#">
            <div><i class="bi bi-person-fill fs-2"></i></div>
            <p>My account</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="my-order.html">
            <div><i class="bi bi-bag-fill fs-3"></i></div>
            <p>My Orders</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="#">
            <div><i class="bi bi-question-diamond-fill fs-3"></i></div>
            <p>Help</p>
          </a>
        </li>
        <li class="item-list" v-if="user.type == 'ADMIN'">
          <a class="item-link l5" href="admin.html">
            <div><i class="bi bi-person-fill fs-3"></i></div>
            <p>Admin panel</p>
          </a>
        </li>
      </ul>
    </div>
    <main class="d-flex flex-column mb-5">
      <div class="row mt-5">
        <h4 class="text-center">{{user.firstName}}</h4>
        <p class="text-center">{{user.email}}</p>
        <div class="row mt-2 d-flex justify-content-center myAccount">

          <div class="firstCol col-10 col-lg-5 info mt-3 d-flex flex-column justify-content-start">

            <div class="row a ">
              <div class="">
                <h2 class="fs-1 text-start">Information</h2>
                <div>
                  <small>Firstname</small>
                  <h5>{{user.firstName}}</h5>
                </div>
                <div>
                  <small>Lastname</small>
                  <h5>{{user.lastName}}</h5>
                </div>
              </div>
            </div>

            <div class="row a mt-5">
              <div class="">
                <h2 class="fs-1 text-start">My adresses</h2>
                <table class="table">
                  <tbody>
                    <tr v-for="addr in myaddress">
                      <td class="text-start">{{addr.street}}</td>
                      <td class="text-start">{{addr.number}}</td>
                      <td class="text-start">{{addr.zip}}</td>
                      <td class="text-start"><button type="button" class="btn-i"><i
                            class="bi .cRed bi-pencil cRed"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button type="button" class="btn-green mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
                  new adress</button>
              </div>
            </div>


          </div>

          <div class="firstCol col-10 col-lg-5 info mt-3 d-flex flex-column justify-content-center">

            <div class="row a ">
              <div class="" v-for="card in card">
                <h2 class="fs-1 text-start">Card Acquerello</h2>
                <div>
                  <small>Level</small>
                  <h5>{{card.level}}</h5>
                </div>
                <div>
                  <small>Points</small>
                  <h5>{{card.points}}</h5>
                </div>
                <div>
                  <small>Balance</small>
                  <h5>${{card.balance}}</h5>
                </div>
                <button class="btn-green" :id="card.id" @click="getCardId" data-bs-toggle="modal" data-bs-target="#cardModal">Add balance</button>
              </div>
            </div>

            <div class="row a mt-5">
              <div class="">
                <img class="img-fluid" src="../assets/card.png" alt="">
              </div>
            </div>


          </div>

        </div>

      </div>

      <!-- modal add balance -->
      
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class=" d-flex flex-column">
            <label for="ccn">Card Number</label>
            <input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,16}" autocomplete="cc-number"
              maxlength="16" placeholder="xxxxxxxxxxxxxxxx" v-model="numberCardRest">
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class=" d-flex flex-column">
            <label for="ccn">CVV</label>
            <input id="ccn" type="tel" inputmode="numeric" autocomplete="cc-number" maxlength="3"
              placeholder="xxx" v-model="cvvCardRest">
          </div>
          <div class=" d-flex flex-column">
            <label for="ccn">Vec.</label>
            <input id="ccn" type="tel" inputmode="text" autocomplete="cc-number" maxlength="5"
              placeholder="yy/mm" v-model="vecCardRest">
          </div>
          
        </div>
        <div class=" d-flex flex-column">
          <label for="ccn">Amount</label>
          <input type="number" name="" id="" v-model="amountCardRest">
        </div>
      </div>
      <div class="errors" v-if="errorCardRest">
          <div>
            <small class="cRed"><i class="bi bi-info-circle-fill px-3 cRed"></i>{{error_cardRest}}</small>
          </div>
      </div>
      <div class="modal-footer d-flex">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" @click="addBalanceCardRest">Confirm</button>
      </div>
    </div>
  </div>
</div>

    </main>
    <!-- modal new adress -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Add new adress</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="px-4">
              <div class="d-flex justify-content-between">
                  <div class="inputOne d-flex flex-column mt-3">
                    <label for="">Street</label>
                    <input type="text" name="" v-model="street" id="">
                  </div>
                  <div class="inputOne d-flex flex-column mt-3">
                    <label for="">Number</label>
                    <input type="number" name="" v-model="numberAddress" id="" >
                  </div>
            </div>
              <div class="inputOne d-flex flex-column mt-3">
                <label for="">ZipCode</label>
                <input type="text" name="" v-model="zip" id="" >
              </div>
              <div class="inputOne d-flex flex-column mt-3">
                <label for="">State</label>
              <input type="text" name="" v-model="state" id="">
              </div>
              <div class="inputOne d-flex flex-column mt-3">
              <label for="">Reference</label>
              <input type="text" name="" v-model="reference" id="" >
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-green" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn-green" @click="send_address">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <script>
    let menu = document.getElementById('navbar')
    window.addEventListener('scroll', function () {
      // navbar.style.background = 'black'
      menu.classList.toggle('fondoBlack', window.scrollY > 0)

    })
  </script>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/myaccount.js"></script>

</body>

</html>