<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <link rel="shortcut icon" href="../assets/favicon.png">
  <title>Acquerello</title>
</head>

<body>
  <div id="app" v-cloak>

    <nav id="navbar" class="navbar navbar-light fondoBlack fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex navlinks">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>         
        </div>

        <div class="d-flex">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="d-flex align-items-center px-2">    
            <div v-if="user.type == 'ADMIN' || user.type == 'USER'" class="dropdown fondoBlack">              
              <a class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-fill navIcon cWhite"></i>
                <span class="emailNav cWhite">{{user.email}}</span> 
              </a>
              <ul class="dropdown-menu fondoBlack" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="myaccount.html">My Account</a></li>
                <li><a class="dropdown-item" href="my-orders.html">My Orders</a></li>
                <li><a class="dropdown-item" href="user-booking.html">My Bookings</a></li>
                <li v-if="user.type == 'ADMIN'"><a class="dropdown-item" href="admin.html">Admin Panel</a></li>
                <li><a href="#" @click="logout" class="nav-link">Log out</a></li>
              </ul>
            </div> 
            <div v-else>
              <a href="login.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
            </div>                        
          </div>
          
        </div>

        <!-- MENU RESPONSIVE -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <a class="navbar-brand" href="#">
              <img src="../assets/acquerello.png" alt="" width="150">
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
              <h5>x</h5>
            </button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a href="#" @click="logout" class="nav-link">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPagesPanel d-flex align-items-center">
      <h1>My Account</h1>
      <h3>Italian Food</h3>
    </header>
    <div class="mt-1 d-flex-justify-content-center">
      <ul class="list ">

        <li class="item-list">
          <a class="item-link l5" href="myaccount.html">
            <div><i class="bi bi-person-fill fs-2"></i></div>
            <p>My account</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="my-orders.html">
            <div><i class="bi bi-bag-fill fs-3"></i></div>
            <p>My Orders</p>
          </a>
        </li>

        <li class="item-list">
          <a class="item-link l5" href="user-booking.html">            
            <div><i class="bi bi-list-check fs-3"></i></div>
            <p>My Bookings</p>
          </a>
        </li>
        
        <li class="item-list" v-if="user.type == 'ADMIN'">
          <a id="adminPanel" class="item-link l5" href="admin.html">
            <div><i class="bi bi-filter-square-fill fs-3"></i></div>
            <p class="cWhite">Admin panel</p>
          </a>
        </li>
      </ul>
    </div>
    <main class="d-flex flex-column mb-5">
      <div class="row mt-5">
        <h4 class="text-center">{{user.firstName}}</h4>
        <p class="text-center">{{user.email}}</p>
        <div class="row mt-2 d-flex justify-content-center myAccount">

          <div class="firstCol col-10 col-lg-5 info mt-3 d-flex flex-column justify-content-start">

            <div class="row a ">
              <div class="">
                <h2 class="fs-1 text-start">Information</h2>
                <div>
                  <small>Firstname</small>
                  <h5>{{user.firstName}}</h5>
                </div>
                <div>
                  <small>Lastname</small>
                  <h5>{{user.lastName}}</h5>
                </div>
              </div>
            </div>

            <div class="row a mt-5">
              <div class="">
                <h2 class="fs-1 text-start">My adresses</h2>
                <table class="table">
                  <tbody>
                    <tr v-for="addr in myaddress">
                      <td class="text-start">{{addr.street}}</td>
                      <td class="text-start">{{addr.number}}</td>
                      <td class="text-start">{{addr.zip}}</td>
                      <!-- <td class="text-start"><button type="button" class="btn-i"><i
                            class="bi .cRed bi-pencil cRed"></i></button></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div>
                <button type="button" class="btn-green mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
                  new adress</button>
              </div>
            </div>


          </div>
          <div class="firstCol col-10 col-lg-5 info mt-3 d-flex flex-column justify-content-center">
            <div class="row a ">
              <div class="" v-for="card in card">
                <h2 class="fs-1 text-start">Card Acquerello</h2>
                <div>
                  <small>Level</small>
                  <h5>{{card.level}}</h5>
                </div>
                <div>
                  <small>Points</small>
                  <h5>{{card.points}}</h5>
                </div>
                <div>
                  <small>Balance</small>
                  <h5>${{card.balance}}</h5>
                </div>
                <div>
                </div>
                <button class="btn-green" :id="card.id" @click="getCardId" data-bs-toggle="modal"
                  data-bs-target="#cardModal">Add balance</button>
              </div>
            </div>
            <div class="mt-5">
              <div v-if="card.length > 0">
                <div class="cardDiv">
                  <div v-for="card in card">
                    <p class="cardNumber text-center">{{card.number}}</p>
                  </div>
                </div>
              </div>
              <div v-else>
                <h5 class="cRed">{{user.firstName}} you dont have any card.</h5>
                <p class="fs-1 cGreen">Get your <span><b class="cRed"> Acquerello Card</b></span> and score points!!</p>
                <button class="btn-red" @click="createCard">Get card</button>
              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- modal add balance -->

      <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="">
                <div class=" d-flex flex-column">
                  <label for="ccn">Card Number</label>
                  <input id="ccn" type="tel" inputmode="numeric" pattern="[0-9\s]{13,16}" autocomplete="cc-number"
                    maxlength="16" placeholder="xxxxxxxxxxxxxxxx" v-model="numberCardRest">
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <div class=" d-flex flex-column">
                  <label for="ccn">CVV</label>
                  <input id="ccn" type="tel" inputmode="numeric" autocomplete="cc-number" maxlength="3"
                    placeholder="xxx" v-model="cvvCardRest">
                </div>
                <div class=" d-flex flex-column">
                  <label for="ccn">Vec.</label>
                  <input id="ccn" type="tel" inputmode="text" autocomplete="cc-number" maxlength="5" placeholder="yy/mm"
                    v-model="vecCardRest">
                </div>

              </div>
              <div class=" d-flex flex-column">
                <label for="ccn">Amount</label>
                <input type="number" name="" id="" v-model="amountCardRest">
              </div>
            </div>
            <div class="errors" v-if="errorCardRest">
              <div>
                <small class="cRed"><i class="bi bi-info-circle-fill px-3 cRed"></i>{{error_cardRest}}</small>
              </div>
            </div>
            <div class="modal-footer d-flex">
              <button type="button" class="btn-green" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn-red" @click="addBalanceCardRest">Confirm</button>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- modal new adress -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" id="exampleModalLabel">Add new adress</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="px-4">
              <div class="d-flex justify-content-between">
                <div class="inputOne d-flex flex-column mt-3">
                  <label for="">Street</label>
                  <input type="text" name="" v-model="street" id="">
                </div>
                <div class="inputOne d-flex flex-column mt-3">
                  <label for="">Number</label>
                  <input type="number" name="" v-model="numberAddress" id="">
                </div>
              </div>
              <div class="inputOne d-flex flex-column mt-3">
                <label for="">ZipCode</label>
                <input type="text" name="" v-model="zip" id="">
              </div>
              <div class="inputOne d-flex flex-column mt-3">
                <label for="">State</label>
                <input type="text" name="" v-model="state" id="">
              </div>
              <div class="inputOne d-flex flex-column mt-3">
                <label for="">Reference</label>
                <input type="text" name="" v-model="reference" id="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn-green" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn-green" @click="send_address">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- CART MODAL -->
    <div id="canvasCart" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasRightLabel">
      <div id="" class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Shopping cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
          <h5>x</h5>
        </button>
      </div>
      <div class="offcanvas-body">
        <table class="table">
          <thead>
            <tr class="title-offcanvas">
              <th scope="col" colspan="2" class="cRed">Product</th>
              <th scope="col" class="cRed">Qty.</th>
              <th scope="col" class="cRed">Action</th>
              <th scope="col" class="cRed">Total</th>
            </tr>
          </thead>
          <!-- Template del carrito  -->
          <tbody v-if="cart.length > 0" id="items">
            <div>
              <tr v-for="product in cart" :key="product.id" id="template-cart">
                <td class="imgFill"><img :src="product.productImage" alt=""></td>
                <!-- <td scope="row" class=""><img class="img-fluid img-thumbnail" :src="product.productImage" :alt="product.name"> -->
                </td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>
                  <button class="btn btn-info btn-sm" type="button" :id="product.id" @click="addOne"> + </button>
                  <button class="btn btn-danger btn-sm" type="button" :id="product.id" @click="deleteOne"> - </button>
                </td>
                <td class="off-canvas-priceTotal">${{product.price * product.quantity}}</td>
              </tr>
            </div>
          </tbody>
          <tfoot v-if="cart.length === 0">
            <tr id="footer-cart">              
              <td scope="row" colspan="5">Cart empty</td>
            </tr>
            <tr>
              <!-- v-if="carrito.length === 0" -->
              <td scope="row" colspan="5"><a href="order.html">ORDER NOW </a></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="d-flex justify-content-around" v-if="cart.length > 0" id="template-footer">
        <a class="" type="button" id="vaciar-carrito" @click="emptyCart">
          Clear cart
        </a>
        <p scope="row" colspan="2">
          Total prod.: <span> {{totalQantity}}</span>
        </p>
        <p class="font-weight-bold"> <b>Total $ <span>{{calculateTotal()}}</span></b></p>
      </div>
      <div class="canvas-bottom d-flex justify-content-around mb-3">
        <a href="" class="btn-green w-100 text-center">Keep buying</a> 
        <a href="../web/checkout.html" class="btn-red w-100 text-center"> Checkout</a>
      </div>

    </div>
  </div>



  <script>
    let menu = document.getElementById('navbar')
    window.addEventListener('scroll', function () {
      // navbar.style.background = 'black'
      menu.classList.toggle('fondoBlack', window.scrollY > 0)

    })
  </script>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/myaccount.js"></script>

</body>

</html>