<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <link rel="shortcut icon" href="../assets/favicon.png">    
  
  <title>Acquerello</title>
</head>

<body>
  <div id="app" v-cloak>

    <nav id="navbar" class="navbar navbar-light fondoTransp fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex navlinks">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>
          <a @click="logout" class="nav-link">LOG OUT</a>   
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <a href="login.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
          <button class="navIcon" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasCart"><i
              class="bi bi-cart-fill"></i>
              <div class="badge"><small class="cWhite" v-if="totalQantity > 0">{{totalQantity}}</small></div></button>
        </div>

        <!-- MENU RESPONSIVE -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <a class="navbar-brand" href="#">
              <img src="../assets/acquerello.png" alt="" width="150">
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
              <h5>x</h5>
            </button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPages d-flex flex-column align-items-center">
      <h1>Order Now</h1>
      <h3>FINE FOOD & DINING SINCE 1990</h3>
    </header>
    <!-- Specials Menu -->
    <main class="d-flex flex-column justify-content-around align-items-center">
      <section>
        <div class="menuSection specials d-flex flex-column justify-content-around align-items-center">
          <h1>Acquerello</h1>
          <h3>Specials</h3>
          <div class="col-10 col-lg-8 d-flex flex-wrap justify-content-around" >
            <div class="cardBorder d-flex justify-content-center align-items-center" style="width: 20rem;" v-for="special in specials">
              <div class="card" style="width: 18rem;">
                <div class="priceSpecials">
                  <h5>${{special.price}}</h5>
                  <div class="cardFooter specialFooter">
                    <a data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(special.productId)" :id="special.productId"><i class="bi bi-eye-fill"></i></a>
                    <a @click="addToCart(special.productId)" :id="special.productId"><i class="bi bi-cart-fill px-2"></i></a>
                  </div>
                </div>
                <img :src="special.productImage" class="card-img-top" alt="special.name">
                <div class="card-body d-flex justify-content-center align-items-center">
                  <h5 id="specials" class="card-text">{{special.name}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Chefs Picks Menu -->
        <div class="specialSection d-flex flex-column justify-content-around align-items-center">
          <h1 class="pt-5">Chef's Pick</h1>
          <h3>of the day</h3>
          <div class="d-flex flex-wrap justify-content-around" >
            <div class="card h-100" style="width: 18rem;" v-for="chefPick in chefPicks">
              <img id="img-product" :src="chefPick.productImage" class="card-img-top" alt="chefPick.name">
              <div class="card-body d-flex justify-content-between align-items-center">
                <h5 id="textChefPick" class="card-text">{{chefPick.name}}</h5>
                <div class="cardFooter">
                  <a data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(chefPick.productId)" :id="chefPick.productId"><i class="bi bi-eye"></i></a>
                  <a @click="addToCart(chefPick.productId)" :id="chefPick.productId"><i class="bi bi-cart"></i></a>                  
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
        <!-- Main Course Menu -->
        <div class="menuSection d-flex flex-column justify-content-around align-items-center">
          <div class="py-4">
            <h1>Main Course</h1>
            <h3>Dishes</h3>
          </div>
          <div class="col-12 col-lg-10 d-flex flex-wrap justify-content-around">
            <div class="card cardProductOne mb-3 py-4" style="max-width: 540px;" v-for="mainCourse in mainCourses">
              <div class="row g-0">
                <img id="img-product" :src="mainCourse.productImage" class="col-md-4 img-fluid rounded-start" alt="mainCourse.name">
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="cardHeader d-flex justify-content-between">
                      <h5 class="card-title">{{mainCourse.name}}</h5>
                      <h5><span>${{mainCourse.price}}</span></h5>
                    </div>
                    <hr>
                    <p class="card-text">{{mainCourse.description}}</p>
                    <div class="cardFooter">
                      <a type="button" data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(mainCourse.productId)"><i
                          class="bi bi-eye"></i></a>
                      <a @click="addToCart(mainCourse.productId)" :id="mainCourse.productId"><i class="bi bi-cart px-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Pastas Menu -->
        <div class="menuSection d-flex flex-column justify-content-around align-items-center">          
          <div class="py-4">                        
            <h1>Pasta</h1>
            <h3>Dishes</h3>            
          </div>
          <div class="col-12 col-lg-10 d-flex flex-wrap justify-content-around">
            <div class="card cardProductOne mb-3 py-4" style="max-width: 540px;" v-for="pasta in pastas">
              <div class="row g-0">
                <img id="img-product" :src="pasta.productImage" class="col-md-4 img-fluid rounded-start" alt="pasta.name">                 
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="cardHeader d-flex justify-content-between">
                      <h5 class="card-title">{{pasta.name}}</h5>
                      <h5><span>${{pasta.price}}</span></h5>
                    </div>
                    <hr>
                    <p class="card-text">{{pasta.description}}</p>
                    <div class="cardFooter">
                      <a type="button" data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(pasta.productId)"><i
                          class="bi bi-eye"></i></a>
                      <a @click="addToCart(pasta.productId)" :id="pasta.productId"><i class="bi bi-cart px-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Soups and Salads Menu -->
        <div class="menuSection d-flex flex-column justify-content-around align-items-center">
          <div class="py-4">
            <h1>Soup & Salads</h1>
            <h3>Side dishes</h3>
          </div>
          
          <div class="col-10 col-lg-10 d-flex flex-wrap justify-content-around">
            <div class="card cardProductOne mb-3 py-4" style="max-width: 540px;" v-for="soup in soups">
              <div class="row g-0">
                <img id="img-product" :src="soup.productImage" class="col-md-4 img-fluid rounded-start" alt="soup.name">
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="cardHeader d-flex justify-content-between">
                      <h5 class="card-title">{{soup.name}}</h5>
                      <h5><span>${{soup.price}}</span></h5>
                    </div>
                    <hr>
                    <p class="card-text">{{soup.description}}</p>
                    <div class="cardFooter">
                      <a type="button" data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(soup.productId)"><i
                          class="bi bi-eye"></i></a>
                      <a @click="addToCart(soup.productId)" :id="soup.productId"><i class="bi bi-cart px-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card cardProductOne mb-3 py-4" style="max-width: 540px;" v-for="salad in salads">
              <div class="row g-0">
                 <img id="img-product" :src="salad.productImage" class="col-md-4 img-fluid rounded-start" alt="salad.name">
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="cardHeader d-flex justify-content-between">
                      <h5 class="card-title">{{salad.name}}</h5>
                      <h5><span>${{salad.price}}</span></h5>
                    </div>
                    <hr>
                    <p class="card-text">{{salad.description}}</p>
                    <div class="cardFooter">
                      <a type="button" data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(salad.productId)"><i
                          class="bi bi-eye"></i></a>
                      <a @click="addToCart(salad.productId)" :id="salad.productId"><i class="bi bi-cart px-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Vegetarian Menu -->
        <div class="menuSection d-flex flex-column justify-content-around align-items-center">
          <div class="py-5">
            <h1>Vegetarian</h1>
            <h3>food love</h3>
          </div>
          
          <div class="col-10 col-lg-10 d-flex flex-wrap justify-content-around">
            <div class="card cardProductOne mb-3" style="max-width: 540px;" v-for="vegetarian in vegetarians">
              <div class="row g-0">
                    <img id="img-product" :src="vegetarian.productImage" class="col-md-4 img-fluid rounded-start" alt="vegetarian.name">
                
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="cardHeader d-flex justify-content-between">
                      <h5 class="card-title">{{vegetarian.name}}</h5>
                      <h5><span>${{vegetarian.price}}</span></h5>
                    </div>
                    <hr>
                    <p class="card-text">{{vegetarian.description}}</p>
                    <div class="cardFooter">
                      <a type="button" data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(vegetarian.productId)"><i
                          class="bi bi-eye"></i></a>
                      <a @click="addToCart(vegetarian.productId)" :id="vegetarian.productId"><i class="bi bi-cart px-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Drinks Menu -->
        <div class="menuSection d-flex flex-column justify-content-around align-items-center">
          <div class="py-5">
            <h1>Drinks</h1>
            <h3>fresh</h3>
          </div>
          
          <div class="col-10 col-lg-10 d-flex flex-wrap justify-content-around">
            <div class="card cardProductOne mb-3" style="max-width: 540px;" v-for="drink in drinks">
              <div class="row g-0">
                <img id="img-product" :src="drink.productImage" class="col-md-4 img-fluid rounded-start" alt="drink.name">
                <div class="col-md-8">
                  <div class="card-body">
                    <div class="cardHeader d-flex justify-content-between">
                      <h5 class="card-title">{{drink.name}}</h5>
                      <h5><span>${{drink.price}}</span></h5>
                    </div>
                    <hr>
                    <p class="card-text">{{drink.description}}</p>
                    <div class="cardFooter">
                      <a type="button" data-bs-toggle="modal" data-bs-target="#productModal" @click="showModal(drink.productId)"><i
                          class="bi bi-eye"></i></a>
                      <a @click="addToCart(drink.productId)" :id="drink.productId"><i class="bi bi-cart px-2"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- CART MODAL -->
    <div id="canvasCart" class="offcanvas offcanvas-end" tabindex="-1" aria-labelledby="offcanvasRightLabel">
      <div id="" class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Shopping cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
          <h5>x</h5>
        </button>
      </div>
      <div class="offcanvas-body">
        <table class="table">
          <thead>
            <tr class="title-offcanvas">
              <th scope="col" colspan="2" class="cRed">Product</th>
              <th scope="col" class="cRed">Qty.</th>
              <th scope="col" class="cRed">Action</th>
              <th scope="col" class="cRed">Total</th>
            </tr>
          </thead>
          <!-- Template del carrito  -->
          <tbody v-if="cart.length > 0" id="items">
            <div>
              <tr v-for="product in cart" :key="product.id" id="template-cart">
                <td class="imgFill"><img :src="product.productImage" alt=""></td>
                <!-- <td scope="row" class=""><img class="img-fluid img-thumbnail" :src="product.productImage" :alt="product.name"> -->
                </td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>
                  <button class="btn btn-info btn-sm" type="button" :id="product.id" @click="addOne"> + </button>
                  <button class="btn btn-danger btn-sm" type="button" :id="product.id" @click="deleteOne"> - </button>
                </td>
                <td class="off-canvas-priceTotal">${{product.price * product.quantity}}</td>
              </tr>
            </div>
          </tbody>
          <tfoot v-if="cart.length === 0">
            <tr id="footer-cart">              
              <td scope="row" colspan="5">Cart empty</td>
            </tr>
            <tr>
              <!-- v-if="carrito.length === 0" -->
              <td scope="row" colspan="5"><a href="order.html">ORDER NOW </a></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div v-if="cart.length > 0" id="template-footer">
        <th scope="row" colspan="2">products:
          <span>
            {{totalQantity}}
          </span>
        </th>
        <td class="font-weight-bold">  total :$<span>{{calculateTotal()}}</span></td>
        <td>
          <button class="btn-green" id="vaciar-carrito" @click="emptyCart">
            Clear cart
          </button>
        </td>
      </div>


      <div class="canvas-bottom">
        <button id="btn-seguir-comprando" type="button" class="btn-green" data-bs-dismiss="offcanvas"
          aria-label="Close">
          <p> Keep buying</p>
        </button>
        <a href="../web/checkout.html">
          <button id="btn-finalizar-compra" type="button" class="btn-green">
            <p> Finish your purchase</p>
          </button>
        </a>

      </div>

    </div>

    <!-- PRODUCT MODAL -->
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content ">          
          <div class="modal-body m-0 p-0 " v-for="producto of modal" :key="producto.productId">
            <div class="container-fluid h-100">
              <div class="row h-100">
                <div class="col-md-5 bg-info p-0 h-100 fill">        
                  <!-- id="imgModalProd"           -->
                  <img  :src="producto.productImage" alt="">
                </div>
                <div class="col-md-7 modalInfoProduct h-100 d-flex flex-column">
                  <div class="modal-header">                    
                    <button type="button" id="xModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div>
                    <h5 class="modal-title cRed fs-1 py-0" id="exampleModalLabel">{{producto.name}}</h5>
                  </div>
                  <div>
                    <p class="cGreen px-3 pt-4">{{producto.description}}</p>
                  </div>
                  <div>
                    <h5 class="cGreen px-3 fs-2">${{producto.price}}</h5>
                  </div>
                  <div class="modal-footer d-flex flex-nowrap mt-auto mb-4">
                    <button id="btnModalProdClose" type="button" class="btn" data-bs-dismiss="modal">Close</button>
                    <button id="btnModalProdBuy" type="button" @click="addToCart(producto.id)" class="btn">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>            
          </div>          
        </div>
      </div>
    </div>





  </div>

  <footer class="d-flex flex-wrap justify-content-around align-items-center py-4">
    <div class="d-flex flex-column navlinks">
      <h2 class="fs-3">Quick Links</h2>
      <a class="nav-link" href="#">HOME</a>
      <a class="nav-link" href="../web/order.html">ORDER NOW</a>
      <a class="nav-link" href="../web/booking.html">BOOKING</a>
    </div>
    <div>
      <img src="../assets/acquerello.png" alt="" width="200">
    </div>
    <div class="d-flex flex-column">
      <h2 class="fs-3">Contact Us</h2>
      <div class="d-flex justify-content-around iconFooter">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
      </div>
    </div>
  </footer>


  <script>
    let menu = document.getElementById('navbar')
    window.addEventListener('scroll', function () {
      // navbar.style.background = 'black'
      menu.classList.toggle('fondoBlack', window.scrollY > 0)

    })
  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/order.js"></script>
  

</body>

</html>