<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../styles/account.css">
  <link rel="shortcut icon" href="../assets/favicon.png">
  <title>Acquerello</title>
</head>

<body>
  <div id="app" v-cloak>

    <nav id="navbar" class="navbar navbar-light fondoBlack fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../assets/acquerello.png" alt="" width="150">
        </a>

        <div class="d-flex navlinks">
          <a class="nav-link" href="index.html">HOME</a>
          <a class="nav-link" href="order.html">ORDER NOW</a>
          <a class="nav-link" href="booking.html">BOOKING</a>
          <a href="#" @click="logout" class="nav-link">LOG OUT</a>
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <a href="myaccount.html" class="navIcon"><i class="bi bi-person-fill"></i></a>
        </div>

        <!-- MENU RESPONSIVE -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <a class="navbar-brand" href="#">
              <img src="../assets/acquerello.png" alt="" width="150">
            </a>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
              <h5>x</h5>
            </button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="order.html">Order Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="booking.html">Bookings</a>
              </li>
              <li class="nav-item">
                <a href="#" @click="logout" class="nav-link">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <header class="headerPagesPanel d-flex align-items-center">
      <h1>Admin panel</h1>

    </header>

    <main>
      <div class="mt-1">
        <a href="admin.html" class="btn-green"><i class="bi bi-arrow-left text-light"></i> Admin Panel</a>
      </div>
      <h3 class="py-4 fs-5 text-green">Product details</h3>

      <div class="row d-flex justify-content-center mb-5" style="margin-right: 0;">
        <div class="d-flex justify-content-center">
          <h3>Product Nº {{product.id}}</h3>
          <button type="button" class="btnTransp" @click="show_btn"><i class="bi bi-pencil text-primary fs-3"></i></button>
          </div>
        
        <div class="col-12 col-md-4 mt-5">

          <div>
            <img ref="imagePreviewDos" :src="product.productImage" class="w-100" alt="product.name">
          </div>
        </div>

        <!-- form edit product -->
        <div class="col-12 col-md-4 mt-5">

          <div v-if="showbtn">
            <form @submit.prevent="pacth_product">
              <div class="d-flex py-2">
                <label for=""><b>Name:</b></label>
                <input type="text" v-model="nameeditproduct">
              </div>
              <div class="d-flex py-2">
                <label for=""><b>Description:</b></label>
                <textarea name="" v-model="descriptionproduc" id="" cols="30" rows="2"></textarea>
              </div>
              <div class="d-flex py-2">
                <label for=""><b>Price:</b> </label>
                <input type="number" name="" v-model="priceedit" id="" class="px-4">
              </div>
              <div class="d-flex py-2">
                <label for=""><b>Stock:</b></label>
                <input type="number" name="" v-model="stockedit" id="">
              </div>
              <div>
                <label for="" class="py-2"><b>image: </b></label>
                <input ref="imageUploaderDos" type="file" @change="uploadImageProduct($event)" id="img-uploader2">
              </div>
              <button class="btn-green"> Save </button>
            </form>
            <div class="errors" v-if="errorEditProduct">
              <div>
                <small class="cRed"><i class="bi bi-info-circle-fill px-3 cRed"></i>{{error_editProduct}}</small>
              </div>
            </div>
          </div>
          <div v-else>
            <h3 class="mb-4">{{product.name}}</h3>
            <p><b>Description: </b>{{product.description}}</p>
            <p><b>Price: </b>{{product.price}}</p>
            <p><b>Stock: </b>{{product.stock}}</p>
          </div>
        </div>
      </div>
      <div>
      </div>
    </main>



  </div>


  <script>
    let menu = document.getElementById('navbar')
    window.addEventListener('scroll', function () {
      // navbar.style.background = 'black'
      menu.classList.toggle('fondoBlack', window.scrollY > 0)

    })
  </script>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../scripts/order.js"></script>


</body>

</html>