* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  text-decoration: none;
  transition: all .2s linear;
  color: var(--color5);  
}
:root{
    --color1: #9dab86;
    --color2: #b61a1a;
    --color3: #f2edd7;
    --color4: #faf4eb;
    --color5: #4d4d4d;
    --fontTitle1: 'Great Vibes', cursive;
    --fontTitle2: 'Montserrat', Verdana, Tahoma, sans-serif;
}

a{
  text-decoration: none;
}
body{
    background: var(--color4);
}
.btn-green{
  background: var(--color1);
  color: var(--color4);
  padding: 5px 25px;
  border: none;
}
.btn-green:hover{
  background: var(--color2);
  color: var(--color4);
  padding: 5px 25px;
  border: none;
}
.inputOne input{
  border: none;
  
}
.inputOne input:focus{  
  outline: none;
}
.inputOne{
  border-bottom: 2px solid var(--color1);
}
.inputOne label{
  color:  var(--color1);
}
/*nav my account*/
.containers,
.list,
.item-link,
.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containers {
  width: 100%;
  height: 100vh;

  flex-direction: column;
  gap: 20px;

  padding: 5px;
}

.list {
  width: 100%;
  /* max-width: 600px; */
  height: 100px;
  padding: 0px;
/* gap: 5px; */  
  background: var(--color4);
  box-shadow: 0px 3px 15px  rgb(209, 208, 208);
  border-bottom: 3px solid var(--color2);
}

#adminPanel p{
  color: var(--color4);  
}
#adminPanel i{
  color: var(--color4);  
}
#adminPanel{
 background: var(--color1);
 padding: 0px 10px; 
}
.list p{
  line-height: 0;
  color: var(--color2);
}
.list i {
  color: var(--color2);
}

.item-list {
  position: relative;
  flex: 1 1;
  padding: 5px;
}

.item-link {
  position: relative;
  gap: 5px;
  color: #999;
}

.icon {
  font-size: 18px;
  transition: 0.3s ease;
}


.item-link.l5 {
  display: grid;
  place-content: center;
  transition: 0.3s ease;  
}

.item-link.l4, .item-link.l5{
  position: relative;
  text-align: center;
  transition: .2s;  
}

.item-link.l4:hover, .item-link.l5:hover{
  color: var(--color1);
}

.item-link.l5::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;  
  width: 0%;
  height: 5px;  
  background-color: transparent;
  transform: translatex(-60px);  
  transition: .5s;
}

.item-list:hover .item-link.l5::before{
  width: 80px;
  height: 5px;
  
  left: 50%;
  
  border-radius: 5px;
  background-color: var(--color1);
  transform: translatex(-50%);
}





/*nav my account*/

/* BOOK TABLE START */
.booktable .date input{
    box-shadow: none;
    outline:none;
    border-color:none;
}

.bookTable input[type="date" i] {
  background: none;
  align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  padding-inline-start: 1px;
  cursor: default;
  overflow: hidden;
  padding: 0px;
  border: none;
  border-bottom: 2px solid var(--color2);
}
.bookTable input[type="date" i]:focus {    
  outline: none;
  box-shadow: none;  
}
.bookTable select{
  border: none;
  background: none;
}
.bookTable select:focus{
  outline: none;
  box-shadow: none; 
}
.bookTable .time{
  border-bottom: 2px solid var(--color2);
}
.bookTable .people{
  border-bottom: 2px solid var(--color2);
  max-width: 300px;
}
.nav-tabs .nav-link.active {
  color: #ffffff!important;
  background-color: var(--color1)!important;
  border-color: var(--color1)!important;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: var(--color2);
}
.bookTable button{
  background: var(--color1);
  color: var(--color4);
  padding: 5px 25px;
  border: none;
}
.bookTable button:hover{
  background: var(--color2);
  color: var(--color4);
  padding: 5px 25px;
  border: none;
}
.radio{
    display: none;
}

.table input:checked ~ label{
    /* outline: 5px solid rgb(0, 0, 255); */
    /* background: rgba(0, 0, 255, 0.096); */    
    filter: invert(73%) sepia(12%) saturate(607%) hue-rotate(41deg) brightness(91%) contrast(83%);
}
.container2 input{
  display: none;
}
.container2 input:checked ~ label{
  /* outline: 5px solid rgb(0, 0, 255); */
  /* background: rgba(0, 0, 255, 0.096); */    
  filter: invert(73%) sepia(12%) saturate(607%) hue-rotate(41deg) brightness(91%) contrast(83%);
}

.available{
    filter: invert(0%) sepia(0%) saturate(31%) hue-rotate(288deg) brightness(95%) contrast(103%);
}

.disabled{
    cursor:default;
    filter: invert(89%) sepia(10%) saturate(22%) hue-rotate(342deg) brightness(81%) contrast(87%);
    
} 

/*table grid*/
.container{
  margin-left: 0px!important;
  margin-right: 0px!important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
}
.container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 3px;
  row-gap: 3px;
  margin: 0;
  padding: 0;
}
.c2{
  margin-left: 0px!important;
  margin-right: 0px!important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.tableContainer input{
  display: none;
}
.table{
  padding: 5px; 
  text-align: center;
  margin: 0;
}
.tbp {
  padding: 25px;
}
.table2{
  grid-column: 2/4;  
}
.table7{
  grid-row: 4/2;
}
.table11{
  grid-column: 1/1;
}
.table12{
  grid-column: 2/8;
}
.tablevip{
  grid-column: 2/4; 
}
.table1,
.table3{
  transform: rotate(90deg);
}
.table7{
  padding: 20px;
}
.container small{
  position: absolute;
  font-size: 1.2em;  
  user-select: none;
  z-index: -1;  
}
.container .table1 small,
.container .table3 small{
  position: absolute;
  /* bottom: 25%;
  right: 55%; */
  transform: rotate(-90deg);
  font-size: 1.2em;  
  user-select: none;
  z-index: -1;
}
.table13{
  padding: 1px;
}
.container .table13 .indiv{
  position: absolute;  
  font-size: 1em; 
  padding: 0;margin: 0;
  text-align: center;
  user-select: none;
  /* z-index: -1;   */  
}
.container label{
  cursor: pointer;
}
/* BOOK TABLE END */

/*UPLOAD IMAGE*/
.containerImg img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardImg{
  border: 1px solid var(--color1);  
  height: 8rem;
  width: 11rem;
  position: relative;
  background: rgb(236, 236, 236);
}
.cardImg-footer{
  background: rgb(243, 243, 243);
  
}
@media (max-width: 768px) {
  .tbp {
    padding: 15px;
  }
  .table7{
    padding: 15px;
  }
  .container small{    
    font-size: 1.2em;      
  }
  .container .table1 small,
  .container .table3 small{  
  transform: rotate(-90deg);
  font-size: 1em;    
}
.table13{
  padding: 1px;
}
.container .table13 .indiv{
  font-size: 1em; 
  
}


/*MY ACCOUNT*/

.myAccount .info,
.myAccount .card{
  /* border: 2px solid var(--color1); */
  padding: 20px;
}

.firstCol{
  margin: 0;
  padding: 0;
}
.myAccount h2{
  color: var(--color1);  
}


/* ADMIN PANEL START*/
.tableAdmin th{
  background: var(--color1);
  color: var(--color4);
}
.tableProducts th{
  background: var(--color1);
  color: var(--color4);
}
.tableP i{
  color: var(--color2);
}
.tableP button{
  border: none;
  background: transparent;
}
.square{  
  padding: 20px;
}
.text-green{
  color: var(--color1);
}
.iptGreen{
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--color1);
  padding: 0px 20px;
  width: 150px;
}
/* ADMIN PANEL END*/


/*sweet alert*/
.swal-button{
  background-color:var(--color1);
  color: #fff;
  border: none;    
  box-shadow: none;
  border-radius: 25px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 30px;
  margin: 0;
}
.swal-button:hover{
  background-color: var(--color2)!important;
}
.swal-icon--success__ring {    
  border: 4px solid hsl(98deg 90% 49% / 57%);
  border-radius: 50%;    
}
.swal-title {
  color: var(--color1);
}

@media (max-width: 767px){
  .item-list p{
    display: none;
  }

  .list{
    height: 60px;
  }
}

@media (max-width: 425px){
  .tbp {
    padding: 10px;
  }
  .table7{
    padding: 10px;
  }
  .container small{    
    font-size: 1em;      
  }
  .container .table1 small,
  .container .table3 small{  
  transform: rotate(-90deg);
  font-size: 1em;    
}
.table13{
  padding: 0px;
  margin: 0;
}
.container .table13 .indiv{
  font-size: .6em; 
  font-weight: 500;
  
}
 
}
  @media (max-width: 325px){
    .tbp {
      padding: 5px;
    }
    .table7{
      padding: 5px;
    }
}

.img-user {
  width: 100px;
  border-radius: 50%;
}

}